@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.eot?#iefix) format("embedded-opentype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.woff2) format("woff2"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.woff) format("woff"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.ttf) format("truetype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.svg#wf) format("svg");
  font-weight: 300;
  font-style: normal
}

@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot?#iefix) format("embedded-opentype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff2) format("woff2"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff) format("woff"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.ttf) format("truetype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.svg#wf) format("svg");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot?#iefix) format("embedded-opentype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff2) format("woff2"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff) format("woff"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.ttf) format("truetype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.svg#wf) format("svg");
  font-weight: 700;
  font-style: normal
}
body{
	font:400 18px/1 ProximaNova , sans-serif;
	color:  #666666;
}

/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1240px;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	text-decoration: none;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}

.ba-button--trial {
	font:400 20px/47px ProximaNova , sans-serif;
	color: #fff;
	padding:0 45px 0 18px;
	border: 0;
	border-bottom: 2px solid #AE0000;
	background: #CE0C0C url('../img/arrow.png') no-repeat 95% 50%;
}
.ba-button--get-start {
	background-color: #CE0C0C;
	font:700 24px/60px ProximaNova , sans-serif;
	color: #fff;
	padding:0 30px;
	border: 0;
	border-bottom: 2px solid #AE0000;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

.ba-button--trial:hover {
	background-color:#AE0000;
	border-bottom: 2px solid  #CE0C0C;
}
.ba-button--get-start:hover {
	background-color:#AE0000;
	border-bottom: 2px solid  #CE0C0C;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}
.ba-header {
	background-color: #000;
}
.ba-header__nav{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 10px 120px 20px 145px;
}
.ba-logo{
	flex-grow: 1;
}
.ba-blog {
	display: block;
	font:700 18px/40px ProximaNova , sans-serif;
	cursor: pointer;
	margin-right: 15px;
	text-align: center;
	padding: 0 15px 0 36px;
	background: #000 url('../img/note.png') no-repeat 15% 50%;
}
.ba-header__login{
	display: block;
	font:700 18px/40px ProximaNova , sans-serif;
	background-color: black;
	border: 1px solid #4D4D4D;
	border-bottom: 2px solid #4D4D4D;
	text-align: center;
	padding:0 15px 0 39px;
	color:  #666666;
	background: #000 url('../img/lock.png') no-repeat 15% 50%;
}
.ba-header__login:hover {
	border: 1px solid #fff;
}
.ba-blog:hover {
	border: 1px solid #fff;
}
.ba-teaser {
	background: url('../img/barbershop.jpg') no-repeat ;
	background-size: cover;
}
.ba-intro {
	display: flex;
	justify-content: center;

	padding-top: 65px;
}
.ba-intro__girl {
	padding-right: 25px;
}
.ba-intro__form {
	display: flex;
	justify-content: space-between;
	padding-right: 45px;
	flex-wrap: wrap;
}
.ba-form {
	display: flex;
	flex-direction: column;
}
.ba-form__input {
	display: inline-block;
	width: 100%;
	padding: 13px 0 13px 20px;
}
.ba-form__label {
}
.ba-intro__title {
	font:700 36px/1 ProximaNova , sans-serif;
	color: #fff;
	margin: 23px 0 3px;
	padding-left: 4px;
}
.ba-intro__subtitle {
	font:400 28px/36px ProximaNova , sans-serif;
	color: #fff;
	margin: 0 0 90px;
	padding-left: 6px;
}
.ba-list {
	list-style-type: none;
	margin: 0;
	padding: 0 0 0 20px;
	font:700 28px/1.2 ProximaNova , sans-serif;
	color:#fff;
}
.ba-list__item {
	padding-bottom: 9px;
}
[class*="ba-list--"] {
	padding-left: 46px;
	padding-bottom: 5px;
}
.ba-list--web{
	background: url('../img/planet.png') no-repeat 0;
}
.ba-list--phone{
	background: url('../img/phone.png') no-repeat 0;
}
.ba-list--email{
	background: url('../img/mail.png') no-repeat 0;
}
.ba-list--contacts{
	background: url('../img/contact.png') no-repeat 0;
}
.ba-list--appointments{
	background: url('../img/appoint.png') no-repeat 0;
}

.ba-button--trial span {
	font-weight: 700;
}
.ba-login {
		text-align: center;
	font:400 14px/36px ProximaNova , sans-serif;
	color: #666;
	padding-right: 58px;
	margin-bottom: 45px;
}

.ba-login__text {
	font:700 14px/36px ProximaNova , sans-serif;
	color: #666;
	background: #fff url('../img/lock2.png') no-repeat 0 50%;
	padding-left: 13px;
}
.ba-login__text:hover {
	color: #CC0000;
}
.ba-main {
	background-color: #fff;
}
.ba-container__services {
	padding: 0 120px;
}
.ba-main__title {
	font:400 36px/1 ProximaNova , sans-serif;
	text-align: center;
	color: #333;
	margin:0;
	margin-bottom: 4px;
	position: relative;
}
.ba-main__title--dollar:after {
	content: '';
	display: block;
	position: absolute;
	top: -9px;
	right: 152px;
	width: 29px;
	height: 29px;
	background: #fff url('../img/dollar.png') no-repeat;
}
.ba-main__title--heart:after {
	content: '';
	display: block;
	position: absolute;
	top: -9px;
	right: 152px;
	width: 42px;
	height: 35px;
	background: #fff url('../img/heart.png') no-repeat;
}
.ba-main__subtitle {
	font:400 24px/1.5 ProximaNova , sans-serif;
	text-align: center;
	color: #333;
	margin:0;
	margin-bottom: 60px;
}
[class*="ba-services__img--"] {
	height: 60px;
	width: 60px;
	border-radius: 50%;
}
.ba-services__img--profile {
	background:#CC0000 url('../img/dprofile.png') no-repeat 50% 50%;
}
.ba-services__img--email{
	background:#CC0000 url('../img/demail.png') no-repeat 50% 50%;
}
.ba-services__img--web{
	background:#CC0000 url('../img/dplanet.png') no-repeat 50% 50%;
}
.ba-services__img--app{
	background:#CC0000 url('../img/dapp.png') no-repeat 50% 50%;
}
.ba-services__img--phone{
	background:#CC0000 url('../img/dphone.png') no-repeat 50% 50%;
}
.ba-services__img--contacts{
	background:#CC0000 url('../img/dcontacts.png') no-repeat 50% 50%;
}
.ba-references {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 58px;
	padding-left: 30px;
}
.ba-services {
	width: 50%;
	display: flex;
	flex-basis: 463px;
	margin-bottom: 50px;
}
.ba-money {

	background: url('../img/moneybg.jpg') no-repeat 129% -173%;

	padding-bottom: 50px;
	margin-bottom: 90px;
}
.ba-services__subtitle {
	font:400 18px/1 ProximaNova , sans-serif;
	margin:0;
}
.ba-article {
	max-width: 353px;
	padding-left: 20px;
}

.ba-article__title {
	font:400 18px/1 ProximaNova , sans-serif;
	margin: 0;
}
.ba-article__title span {
	font-weight: 700;
	padding-right: 10px;
}
.ba-article__paragraph {
	margin: 0;
	font:400 14px/1 ProximaNova , sans-serif;
}
.ba-get-start {
	display: flex;
	background-color: #333333;
	padding:43px 142px;
	align-items: center;
}
.ba-bottom {
	background-color: #333333;
}
.ba-get-start__title {
	font:400 36px/1 ProximaNova , sans-serif;
	color:  #fcf8f8;
	flex-grow: 1;
	margin: 0;
}
.ba-footer--large {
	background-color: #000;
}
.ba-footer {
	font:400 12px/2 ProximaNova , sans-serif;
	color:#fff;
	background-color: #000;
	display: flex;
	padding: 13px 120px;
}
.ba-copyright {
	flex-grow: 1;
}
.ba-copyright__refs {
	text-decoration: none;
	color:#fff;
	margin-right: 13px;
}
.ba-copyright__refs:hover {
	 color: #666;
}
